/* 公用tab—head */
.heads{
  display: inline-block;
  width:1200px;
  height:82px;
  background:rgba(255,255,255,1);
  margin-top: 20px;
  display: flex;
}
.heads li{
  line-height: 82px;
  text-align: center;
  flex:1;
  position: relative;
}
.heads li a{
  font-size:16px;
  font-family:Microsoft YaHei;
  color:rgba(102,102,102,1);
}
.tit_active{
  font-size:16px;
  font-family:Microsoft YaHei;
  font-weight:bold;
  color:rgba(239,65,54,1) !important;
}
.heads li i{
  display: inline-block;
  width:2px;
  height:15px;
  background:rgba(224,224,224,1);
  position: absolute;
  top:50%;
  right:0;
  margin-top: -7.5px;
}
.heads li span{
  display: inline-block;
  width:63px;
  height:2px;
  background:rgba(239,65,54,1);
  position: absolute;
  bottom:0;
  left:50%;
  margin-left: -31.5px;
  display: none;
}
.span_block{
  display: block !important;
}
.nav_items{
  position: relative;
  z-index: 1;
}
.nav_items{
  width:107px;
  background:rgba(255,255,255,1);
  box-shadow:0px 5px 30px 0px rgba(51,51,51,0.2);
  border-radius:8px;
  position: absolute;
  top: 58px;
  left: 50%;
  margin-left: -53.5px;
  padding-right: 10px;
  padding-left: 10px;
  display: none;
}

.nav_items div{
  width: 100%;
  height: 47px;
  border-bottom:1px solid #E0E0E0;
  text-align: center;
  line-height: 47px;
}
.nav_items div:hover{
  color: #e60012;
}


/* box */
.box_con{
  width: 1200px;
  height: auto;
  background:#f9f9f9;
  box-shadow:0px 3px 20px 0px rgba(61,61,61,0.06);
  margin-bottom: 60px;
  padding: 5px;
}
.box_item{
  width: 370px;
	/* height: 355px; */
	background-color: #ffffff;
  border: solid 1px #eeeeee;
  padding: 21px;
  margin-top: 20px;
  margin-left: 20px;
  float: left;
}
.box_item img{
  display: inline-block;
  width: 328px;
	height: 184px;
	background-color: #dadada;
}
.box_item h1{
  width: 100%;
  overflow: hidden;/*超出部分隐藏*/
  text-overflow:ellipsis;/* 超出部分显示省略号 */
  white-space: nowrap;/*规定段落中的文本不进行换行 */
	font-family: MicrosoftYaHei-Bold;
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	letter-spacing: 0px;
  color: #333333;
  margin-top: 20px;
}
/* .box_item p{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
  color: #666666;
  margin-top: 15px;
  
} */
.wrap {
  height: 60px;
  line-height: 20px;
  overflow: hidden;
  margin-top:10px;
}

.wrap .text {
  float: right;
  margin-left: -5px;
  width: 100%;
  word-break: break-all;
}

.wrap::before {
  float: left;
  width: 5px;
  content: '';
  height: 60px;
}

.wrap::after {
  float: right;
  content: "...";
  height: 20px;
  line-height: 20px;
  /* 为三个省略号的宽度 */
  width: 1em;
  /* 使盒子不占位置 */
  margin-left: -1em;
  /* 移动省略号位置 */
  position: relative;
  left: 100%;
  top: -20px;
  padding-right: 5px;
  background-color: #FFF;
}

/* page */
.box_foot {
  float: left;
  width: 1200px;
  padding-top: 40px;
  padding-bottom: 50px;
  margin: 0 auto;
}
