/* CSS Document */
* {box-sizing: border-box;margin: 0;padding: 0;}
img{border:0 none;border-image-width: 0;border-width: 0;}
/* body{background: url("../images/backgrounds.png");background-size: 100% 100%;font-size:14px;color:#707070; line-height:1.5;  margin:0 auto;font-family:Microsoft YaHei ;width:100%;height:100%; background: rgba(247, 247, 248);; text-align:center;overflow-x:hidden;} */
body{
  background: url("../images/backgrounds.png") !important;
  background-size: 100% 100%  !important;
  font-size:14px;
  color:#707070; 
  line-height:1.5;  
  margin:0 auto;
  font-family:Microsoft YaHei ;
  width:100%;
  height:100%; 
  text-align:center;
  overflow-x:hidden;
} 

img{border:0;outline:0; vertical-align:middle;}
/*a:hover img{filter:alpha(opacity=70);-moz-opacity:0.7; opacity: 0.7;}*/
ul,li{list-style:none; list-style-type:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}
/*address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}*/
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
header,nav,aside,menu{display:block;margin:0 auto;padding:0;}
table{border-collapse:collapse;border-spacing:0;border:0;}
table,td,tr,th{font-size:14px;border:0;}
input:focus {outline: 0 none;}
a:focus { outline: medium none;}
a{text-decoration:none;cursor:pointer;}
a:link{color:#707070;}
a:visited{color:#707070;}
a:hover{text-decoration: none;}
.container a:hover{color:#e60012 !important;}
fieldset,img{border:0;}
/*h1,h2,h3,h4,h5,h6{font-size:14px;font-weight:normal;}*/
a.mao{display:block;height:0;font-size:0;line-height:0;overflow:Hidden;}
i{font-style:normal;display:inline-block;}
/*u{text-decoration:none;display:inline-block;}*/
/*em,strong,a,span{display:inline-block;}*/
.tcen{text-align:center;}


.clear{clear:both;line-height:0;font-size:0;overflow:hidden;display:block;}
.blank10{clear:both;font-size:0px;line-height:0px;height:10px; margin:0px; padding:0px;}
.blank15{clear:both;font-size:0px;line-height:0px;height:15px; margin:0px; padding:0px;}
h1,h2,h3,h4,h5,h6{display:block;width:100%;margin:0 auto;font-family:"\5FAE\8F6F\96C5\9ED1"; font-weight:normal;}
input,select,option,textarea{font-size:14px;color:#333333;outline:medium;font-family:"\5FAE\8F6F\96C5\9ED1" ;}
.left{float:left;}
.right{float:right;}
.fy{font-family:"\5FAE\8F6F\96C5\9ED1"}
.mt{margin-top:20px;}
.mt10{margin-top:10px;}
.mt5{margin-top:5px;}
div,header,nav{margin:0 auto;text-align:left;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f18{font-size:18px;}
.f15{font-size:15px;}
.f16{font-size:16px;}
.f24{font-size:24px;}
.f30{font-size:30px;}
.blo{display:block;}
.bla,a.bla,.bla a:link,.bla a:visited{color:#000;}
.bla a:hover{color:#e60012;}
.layout{width: 1200px; margin: 0 auto;}

/* 公共区域样式 */
body{
  position: relative;
}
/* 侧边栏 */
.boxs{
  position: fixed;
  width: 151px;
  height: 299px;
  background: red;
  background: url("../images/check.png");
  z-index: 9999;
  right: 10px;
  top: 300px;
  display: none;
}
.boxs>div{
  width: 100%;
  height: 100%;
  position: relative;
}
.close{
  display: inline-block;
  width: 43px;
  height: 23px;
  background-color:rgba(0,0,0,0.5);
  text-align: center;
  line-height: 23px;
  font-size: 12px;
  position: absolute;
  top:0;
  right:0;
  color: #fff !important;
  cursor: pointer;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 7.5px;
}
.close:hover{
  opacity: 1 !important;
  background-color:#000 !important;
  color: #fff;
}
.checks{
  display: inline-block;
  width: 137px;
  height: 33px;
  background: url("../images/checks.png");
  color: #fff;
  position: absolute;
  bottom:20px;
  left: 50%;
  margin-left: -68.5px;
  cursor: pointer;
}
.check{
  display: inline-block;
  width: 151px;
  height: 325px;
}
/* 侧边栏 */

/* head */
.head {
  position: relative;
  background: url('../images/banner.png') no-repeat top center;
  background-size: 1920px 314;
  /* height: 374px; */
  min-width: 1200px;
  margin: 0 auto;
}
.head-bg {
  width:1920px;
  position:absolute;
  left:50%;
  margin-left:-960px;
  z-index: -1;
  display: none;
}
.head-info {
  padding-top:210px;
  height: 314px;
}
.head-info .logo {
  display: block;
}

.nav {
  width:100%;
  height:60px;
  background: url("../images/li_bjpt.png")
}
.nav>div>div{
  width: 200px;
  height: 26px;
  float: right;
  margin-top:17px;
}
.nav>div>div>div{
  width: 151px;
  height: 26px;
  position: relative;
  float: left;
}
.nav>div>div>div>input{
  display:inline-block;
  width: 151px;
  height: 26px;
  border-radius: 20px;
  border:none;
  padding-left:10px;
  padding-right:25px;
}
.nav>div>div .search{
  display: inline-block;
  width: 12px;
  height: 12px;
  position: absolute;
  top:50%;
  right: 12px;
  margin-top:-6px;
}

.nav>div>div .search>img{
  display: block;
  width: 12px;
  height: 12px;
}
.nav>div>div .login{
  float: right;
  line-height: 26px;
  color: #fff;
}
.active{
  background: url("../images/li_bj.png");
  background-size: 100% 100%;
  font-weight: bold;
  font-size: 20px !important;
}
.nav ul{
  float: left;
}
.nav ul li {
  display: inline-block;
  width: 125px;
  height: 60px;
  text-align: center;
  /* padding-left:30px;
  padding-right:30px; */
  position: relative;
  margin-left:-5px;
  box-sizing: border-box;
  font-size: 18px;
}
.nav ul li:hover{
  background: url("../images/li_bj.png");
  background-size: 100% 100%;
  font-weight: bold;
  font-size: 20px;
}
.lis{
  position: relative;
}
.nav ul li span{
  width: 1px;
  height: 15px;
  background: #e4776b;
  position : absolute;
  right: -1px;
  top: 50%;
  margin-top:-7.5px;
}
.nav ul{
  margin-left: 5px;
}
.nav ul li a {
  width: 100%;
  height: 100%;
  display: block;
  line-height: 60px;
  color: #fff;
  margin-left:0px;
}
.nav .nav_child{
  width: 112px;
  position: absolute;
  top: 53px;
  left: 50%;
  margin-left: -56px;
  z-index: 999;
  display: none;
}
.nav .nav_child a:first-child{
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}
.nav .nav_child a:last-child{
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}
.nav .nav_child a{
  display: inline-block;
  width: 112px;
  height: 43px;
  text-align: center;
  line-height: 43px;
  background: #fff;
  font-size: 16px;
  color: #333333;
}
.nav .nav_child a:hover{
  background: #fdccc9 !important;
  color: #fa564b;
}
/* .actives{
  background: #fdccc9 !important;
  color: #fa564b;
} */

.foot {
  max-width:1920px;
  height:230px;
  background:rgba(255,255,255,1);
}
.foot-content{
  width: 100%;
  height: 174px;
  background: #fff;
}
.foot-content_name {
  display: inline-block;
  width:198px;
  vertical-align: top;
  margin-right: 100px;
  padding-top: 54px;
}
.foot-content_name .p1 {
  font-size:18px;
  font-family:Microsoft YaHei;
  color:rgba(34,34,34,1);
  margin-bottom:5px;

}
.foot-content_name  .p2 {
  font-size:12px;
  font-family:Microsoft YaHei;
  color:rgba(74,89,109,1);

}
.foot-content_addr {
  display: inline-block;
  width:213px;
  font-size:14px;
  font-family:Microsoft YaHei;
  font-weight:400;
  color:rgba(34,34,34,1);
  line-height:24px;
  vertical-align: top;
  padding-top: 54px;
}
.foot-content_ewm {
  width: 310px;
  float: right;
  padding-top: 40px;
}
.foot-content_ewm img {
  display: block;
  width: 310px;
  height: 90px;
}
.foot-content_ewm span {
  font-size:12px;
  font-family:Microsoft YaHei;
  font-weight:400;
  color:rgba(51,51,51,1);
  line-height:24px;
  margin: 0 20px;
}

.foot-footer {
  width:100%;
  height:56px;
  background:rgba(247,247,247,1);
  opacity:0.99;
  font-size:14px;
  font-family:Microsoft YaHei;
  font-weight:400;
  color:rgba(94,106,122,1);
  line-height:56px;
  margin: 0 auto;
  text-align: center;
}
.container {
  min-height: calc(100vh - 550px);
}
.clearfix::after,
.clearfix::before{
  content: ".";
  line-height: 0;
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}






/* ***************** */
/* swiper */
.swiperBoxs{
  width:100%;
  height:100%;
  /* overflow:hidden; */
  position:relative;
  margin-top: 20px;
}
.swiper-container {
  width:100%;
  height:100%;
}
.swiper-slide>img{
  width: 100%;
  height: 100%;
  animation-duration:5s;
  animation-timing-function:linear;
  animation-fill-mode: forwards;
  -webkit-animation-duration:5s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-fill-mode: forwards;
}
/* 标题BOX */
.swiper-slide .detail{
  width:100% !important;
  height: 60px;
  background:rgba(0,0,0,.7);
  position:absolute;
  width:100%;
  bottom:0;
  color:#fff;
  transition:opacity .3s .3s;
}
.swiper-slide-active .detail{
  opacity:1;
}
/* 标题 */
.swiper-slide .detail>h1{
  width:100%;
  height: 60px;
  color: rgba(255,255,255,1) !important;
  text-align: left;
  float: left;
  padding-left: 20px;
  line-height: 60px;
  font-size:16px;
}

/* 底部按钮 */
.swiper-pagination{
  bottom:20px;
  right:20px;
}
.swiper-pagination-bullet{
  width:12px;
  height:12px;
  background:#fff ;
  margin:0 5px;
}
.swiper-pagination-bullet-active {
  background:rgba(245,67,67,1);
  width:12px;
  height:12px;
  border-radius:50%;
}
/* ***************** */
        /* 左右按钮 */
        .swiper-button-next {
          background: url("../images/feel1.png")  no-repeat center !important;
          right: 0 !important;
      }

      .swiper-button-prev {
          background: url("../images/feel2.png")  no-repeat center !important;
          left: 0 !important;;
      }