.box {
  background: #fff;
  margin-top: 20px;
  margin-bottom: 60px;
}

.box_nav {
  height: 50px;
  border-bottom: 1px solid #f1f1f1;
  line-height: 50px;
  padding: 0 27px;
  color: rgba(102, 102, 102, 1);
  font-size: 12px;
}

.box_nav span {
  padding: 0 4px;
  vertical-align: middle;
  font-size: 12px;
}

.box_nav i {
  display: inline-block;
  background: url('../images/icon-home.png') no-repeat center;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  width: 22px;
  height: 21px;
  vertical-align: middle;
  margin-right: -2px;
}

.box_header {
  height: 97px;
  width: 867px;
  margin: 0 auto;
  border-bottom: 1px solid #f1f1f1;
  text-align: center;
  padding-bottom: 10px;
}

.box_header h4 {
  padding-top: 36px;
  padding-bottom: 12px;
  font-size: 22px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(68, 68, 68, 1);
  line-height: 1;
  text-align: center;
}

.box_header span {
  font-size: 13px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  line-height: 1;
}

.box_main {
  width: 867px;
  margin: 0 auto;
  padding-top: 34px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(68, 68, 68, 1);
  line-height: 28px;
}




.swiper-container {
  width: 100%;
  margin: 0 auto;
}

.swiper-container .view_top .swiper-container {
  width: 874px;
  height: 602px;
  margin: 0 !important;
}
.swiper-container .view_top .swiper-container img{
  width: 874px;
  height: 602px;
}

.swiper-container .view_top .arrow-left {
  background: url(../images/feel2.png) no-repeat left top;
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -30px;
  width: 34px;
  height: 60px;
  z-index: 100;
}

.swiper-container .view_top .arrow-right {
  background: url(../images/feel1.png) no-repeat left top;
  position: absolute;
  right: 7px;
  top: 50%;
  margin-top: -30px;
  width: 34px;
  height: 60px;
  z-index: 100;
}

.swiper-container .view_bottom {
  width: 100%;
  height: 147px;
  background-color: #fafbfc;
  padding-top:30px;
  margin-top: 12px;
  border-top:2px solid #f5f5f4;
  border-bottom:2px solid #f5f5f4;
  position: relative;
}
.swiper-container .view_bottom .swiper-wrapper{
  width: 100% !important;
}
.swiper-container .view_bottom .swiper-container {
  width: 805px;
  height: 82px;
  margin-left: 35px;
}

.swiper-container .view_bottom .swiper-slide {
  width: 117px;
  height: 82px;
  margin-right: 20px;
}
.swiper-container .view_bottom .swiper-slide img{
  width: 117px;
  height: 82px;
}

.swiper-container .view_bottom .slide6 {
  width: 117px;
}

.swiper-container .view_bottom .arrow-left {
  background: url(../images/feel3.png) no-repeat left top;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -12px;
  width: 12px;
  height: 24px;
  z-index: 10;
}

.swiper-container .view_bottom .arrow-right {
  background: url(../images/feel4.png) no-repeat left bottom;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -12px;
  width: 12px;
  height: 24px;
  z-index: 10;
}

.swiper-container .view_bottom img {
  padding: 3px;
}

.swiper-container .view_bottom .active-nav img {
  padding: 0;
  border: 3px solid #fa564b;
}




.box_foot {
  padding-top: 40px;
  padding-bottom: 60px;
  width: 867px;
  margin: 0 auto;
}
.box_foot_text {
  width:867px;
  font-size:16px;
  font-family:Microsoft YaHei;
  font-weight:400;
  color:rgba(68,68,68,1);
  line-height:28px;
}
.share {
  float: left;
  width: 180px;
  height: 24px;
}

.share img {
  display: block;
  width: 180px;
  height: 24px;
}

.operation {
  float: right;
  font-size: 12px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}

.operation span {
  line-height: 24px;
}